body {
    padding-top: 50px;
    padding-bottom: 20px;
}
nav.navbar {
    background: #0d47a1;
}
footer .navbar-right {
    position: fixed;
    bottom: 0;
    right: 10%;
    background: rgba(15,15,15,.65);
    padding:8px;
}
    footer .navbar-right a {
        color: #dcdbdc;
        font-size:110%;
    }
.navbar-nav > li > a, nav.navbar a {
    color: #dcdeec;
}
    .navbar-nav > li > a:hover {
        background: #90caf9;
        color:#342333;
    }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.word-collection h2{
    display:inline-block;
    margin-right:10px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
