@{
    ViewData["Title"] = "Tungkol sa Amin";
}
<h2>@ViewData["Title"]</h2>
<h3>Para sa mga tao dusto dagdagan ang kaalaman na tagalog na salita</h3>
<p>Para sa  bayan</p>
<h4>In English</h4>
<p>We made a page that has the tagalog equivalent of random word generation. This is for the hope that people will realize that there are good words in the tagalog language and appreciate it.</p>
