@{
    ViewData["Title"] = "Katagalugan";
}


<div class="row jumbotron">
    <div class="col-sm-6 col-sm-offset-2 ">
        <h1>Tagalog nasalita</h1>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary">Pakita ng halimbawa</a>
    </div>
</div>

<div class="row">

</div>