@{
    ViewData["Title"] = "Katagalugan";
}

<hr/>
<div class="row ">
    <div class="col-sm-6 col-sm-offset-2 ">
        <a class="btn btn-primary getWord" onclick="GetWord()">Pakita ng halimbawa(Random Tagalog Words)</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default getWord" onclick='$("fieldset div").empty()'>Buharin lahat(Clear Words)</a>
    </div>
</div>
<hr />
<fieldset class="word-collection">
    <legend>Sapalarang Tagalog na salita</legend>
</fieldset>
<div class="row">
    <div class="col-xs-10">

    </div>
    <div class="col-xs-2">

    </div>
</div>
<script>
    function GetWord() {
        $.post("/Home/RandomWord", {  }, function (data) {
            var item = $("<div></div>");
            if (data != undefined) {
                var itemText = $("<h2></h2>").text(data), itemId = makeId(8), closeLink = $("<a class='glyphicon glyphicon-remove'></a>");
                item.attr("id", itemId);
                item.append(itemText);
                closeLink.attr("onclick", "RemoveElement('.word-collection','#" + itemId + "')");
                item.append(closeLink);
               $(".word-collection").prepend(item);
            }
        });

    }
    function RemoveElement(containerSelctor, elem) {
        $(elem).addClass("hidden");

    }
    function makeId(length) {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < length; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }
</script>