@{
    ViewData["Title"] = "Katagalugan";
}
<div class="row">
    <h1>
        Katagalugan.
    </h1>
    <p>Tagalog is the national language of the Philippines.Its vocabulary has been much influenced by Spanish and English</p>
</div>
<hr/>
<div class="row SampleWord">
    <div class="col-sm-6 col-sm-offset-4 ">
        <h1></h1>
    </div>
    <div class="col-sm-2 define">

    </div>
</div>
<div class="row ">
    <div class="col-sm-6 col-sm-offset-2 ">
        <a class="btn btn-primary getWord" onclick="GetWord()">Pakita ng halimbawa(Random Tagalog Words)</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default getWord" onclick='$("fieldset div").empty()'>Buharin lahat(Clear Words)</a>
    </div>
</div>
<hr />
<fieldset class="word-collection">
    <legend>Sapalarang Tagalog na salita</legend>
</fieldset>
<div class="row">
    <div class="col-xs-10">

    </div>
    <div class="col-xs-2">
        <select id="History"></select>
        <a class="btn">Ibig sabihin</a>
    </div>
</div>
<script>
    function GetWord() {
        $.post("/Home/RandomWord", {  }, function (data) {
            var item = $("<div></div>");
            if (data !== undefined) {
                var itemText = $("<h2></h2>").text(data), itemId = makeId(8), closeLink = $("<a class='glyphicon glyphicon-remove'></a>");
                var translateLink = $("<a class='glyphicon glyphicon-book' target='_blank'></a>");
                item.attr("id", itemId);
                item.append(itemText);
                //translateLink.attr("href", "https://translate.google.com/#tl/en/" + data);
                translateLink.attr("href", "https://tagalog.pinoydictionary.com/search?q=" + data);
                item.append(translateLink);
                closeLink.attr("onclick", "RemoveElement('.word-collection','#" + itemId + "')");
                item.append(closeLink);
                $(".word-collection").prepend(item);
                $("select#History").prepend($("<option></option>").text(data));
                $(".SampleWord h1").text(data);
            }
        });

    }
    function define(word) {
        $.post("https://tagalog.pinoydictionary.com/word/" + word, {}, function (data) {
            var defineElement = $(data).next(".definition");
            $(".define").text(defineElement.next("p").text());
        });
    }
    function english(word) {
        window.URL = "https://translate.google.com/#tl/en/" + word;

    }

</script>